{% extends "base.html" %}
{% block title %}Max Poletaev{% endblock %}

{% block body %}
<div class="header">
  <div class="header__art">
    <pre>{% include "art.txt" %}</pre>
  </div>
  <h1 class="header__title">Max Poletaev's Corner <br>of the Internet</h1>
</div>

<div class="main">
  <div class="section intro">
    <p>I'm a programmer specializing in information retrieval, recommender systems, 
      and content moderation in high-throughput environments. Sometimes tinkering 
      with database internals, retro hardware emulation, and graphics programming.</p>
  </div>

  <div class="section">
    <h2>PROJECTS</h2>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/nupsx" target="_blank">nuPSX - PlayStation Emulator and Debugger in Zig <span class="new-label"></span></a>
    </div>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/dendy" target="_blank">NES Emulator with Network Multiplayer</a>
      (<a href="https://maxpoletaev.github.io/dendy/" target="_blank">Demo{% include "newtab.svg" %}</a>)
    </div>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/directcgo" target="_blank">Zero Overhead C Interop for Golang Experiment</a>
    </div>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/brickboy" target="_blank">Game Boy Emulator in good old C</a>
    </div>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/gorender" target="_blank">Software 3D Rendering Engine</a>
    </div>
    <div class="project-link">
      <a href="https://github.com/maxpoletaev/kivi" target="_blank">Distributed Key-Value Database</a>
    </div>
  </div>

  <div class="section">
    <h2>RECENT NOTES</h2>
    {% for post in posts %}
    <div class="note-link">
      <span class="date">[{{ post.date }}]</span>
      <a href="{{ post.url }}">{{ post.short_title if post.short_title else post.title }}</a>
    </div>
    {% endfor %}
  </div>

  <div class="section">
    <h2>CONTACT</h2>
    <div>E-mail: max.poletaev@gmail.com</div>
    <div>Telegram: @maxpoletaev</div>
    <div><s>ICQ: 3232923</s></div>
  </div>
</div>
{% endblock %}
