{% extends "base.html" %}
{% block title %}Typo{% endblock %}

{% block body %}
  <div class="content">
    <div class="container">
      <h1>Heading 1</h1>
      <p>Occaecati repellendus iusto quia ducimus. Odit sed velit voluptas velit ut quia. Nisi perferendis molestias temporibus optio. Ea iste hic quibusdam cumque. Alias maxime ut ad sed qui rem dignissimos quos.</p>
      <p>Sed recusandae sapiente consequatur. Eos perspiciatis excepturi maxime amet eos similique. Cumque voluptatibus dignissimos accusamus voluptatem rem. Ut et quia mollitia. Ex nostrum voluptatem non quo animi ipsa. Impedit quaerat consectetur quisquam qui et quidem ea velit.</p>

      <h2>Heading 2</h2>
      <p>Beatae tempore iusto omnis <code>molestiae</code> quibusdam molestias sapiente. Commodi repudiandae et illum illo aut qui. Vero minus voluptas et in expedita. Fugiat illo minus sit dolorem et. Perferendis corporis ut sint voluptates. Incidunt corporis soluta sapiente aut rerum quia sed est.</p>
      
      <h3>Heading 3</h3>
      <p>Occaecati repellendus iusto quia ducimus. Odit sed velit voluptas velit ut quia. Nisi perferendis molestias temporibus optio. Ea iste hic quibusdam cumque. Alias maxime ut ad sed qui rem dignissimos quos.</p>

      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>

      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>

<pre class="highlight"><code>//include headers; these are modules that include functions that you may use in your
//program; we will almost always need to include the header that
// defines cin and cout; the header is called iostream
#include &lt;iostream&gt;

using namespace std;

int main()
{
  // print output to user
  cout &lt;&lt; "Hello World!" &lt;&lt; endl;
  return 0;
}</code></pre>

    </div>
  </div>

{% endblock %}
